---
import Layout from "@/layouts/Layout.astro";

---

<Layout title="Contact">
  <div class="w-full h-screen flex items-center justify-center text-6xl">
    <div class="size-44 bg-red-400" transition:name="box"></div>
    <a href="/" transition:animate="slide">Home</a>
  </div>
</Layout>
